{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}
<!-- Drawers
================================================== -->
<section id="drawer">
  <div class="page-header">
    <h1>Drawers</h1>
  </div>
  <div class="row-fluid">
    <div class="span3 columns">
      <h3>About drawers</h3>
      <p>Drawer is a form of a modal that pushes main content down and expands from the top taking 100% of the screen width.
        It is used for various Create work flows. Content that was on screen prior to drawer trigger is visible in the drawer
        on the bottom part of the screen.
      </p>
    </div>
    <div class="span9 columns">
      <h2>Example</h2>
      <p><button class="btn btn-primary" id="sg_open_drawer">Open a Drawer</button></p>
    </div>
  </div>
</section>
