-restore   
gitadd
*.tar
*.tgz
*.sql
.htaccess
/config.php
ini_setup.php
config_override.php
*.ext.php
*.log
cache/*
*.swp
*_sample.php
demoData.*
phpinfo.php
custom/working/*
custom/history/*
custom/modulebuilder/*
secured/*
__init__.tsv
__init__.html
*.pyc
custom/modules/*/workflow
upload/*
*.pyo
*.pyc
*.egg-info
