{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}
<article class="filter-body">
    <div class="row-fluid">
        <div class="filter-field controls span3"></div>
        <div class="filter-operator hide controls span3"></div>
        <div class="filter-value hide controls span4"></div>
        <div class="filter-actions span2">
            <a class="removeme btn btn-invisible btn-dark"><i class="icon-minus"></i></a>
            <a class="addme btn btn-invisible btn-dark"><i class="icon-plus"></i></a>
        </div>
    </div>
</article>
