{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}
<h1>
    <div class="record-cell">
        <span class="module-title">{{{section.title}}}</span>
    </div>
    <div class="btn-toolbar pull-right">
        <span class="list-headerpane">
            <select name="sections" id="find_patterns" class="select2 search" data-placeholder="Search styleguide&hellip;">
                <option></option>
            </select>
        </span>
    </div>
</h1>
