{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}
<div class="btn-group" data-toggle="buttons-radio">
    <button class="btn layout{{#eq value 1}} active{{/eq}}" rel="tooltip" title="{{str "LBL_DASHBOARD_1_COLUMN_LAYOUT" module}}" data-placement="bottom" data-value="1"><i class="icon-list-alt"></i></button>
    <button class="btn layout{{#eq value 2}} active{{/eq}}" rel="tooltip" title="{{str "LBL_DASHBOARD_2_COLUMN_LAYOUT" module}}" data-placement="bottom" data-value="2"><i class="icon-columns"></i></button>
    <button class="btn layout{{#eq value 3}} active{{/eq}}" rel="tooltip" title="{{str "LBL_DASHBOARD_3_COLUMN_LAYOUT" module}}" data-placement="bottom" data-value="3"><i class="icon-table"></i></button>
</div>
