{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}
<a data-toggle="dropdown" class="btn btn-invisible btn-link hide" rel="tooltip" title="{{str "LBL_DASHLET_CONFIGURE"}}" data-placement="bottom"><i class="icon-cog"></i></a>
<ul class="dropdown-menu left">
    <div>
        <li><a class="remove-row">{{str "LBL_DASHLET_REMOVE_LABEL"}}</a></li>
    </div>
</ul>
<a class="move btn btn-invisible btn-link hide" rel="tooltip" title="{{str "LBL_DASHLET_MOVE"}}" data-container="body" data-placement="bottom"><i class="icon-resize-vertical"></i></a>
