/* Generic */
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  scrollbar-3dlight-color: #F0F0EE;
  scrollbar-arrow-color: #676662;
  scrollbar-base-color: #F0F0EE;
  scrollbar-darkshadow-color: #DDDDDD;
  scrollbar-face-color: #E0E0DD;
  scrollbar-highlight-color: #F0F0EE;
  scrollbar-shadow-color: #F0F0EE;
  scrollbar-track-color: #F5F5F5;
  background: #F0F0EE;
  padding: 0;
  margin: 8px 10px 10px 10px;
}

html {
  background: #F0F0EE;
}

td {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
}

textarea {
  resize: none;
  outline: none;
}

a:link, a:visited {
  color: black;
}

a:hover {
  color: #2B6FB6;
}

.nowrap {
  white-space: nowrap;
}

/* Forms */
fieldset {
  margin: 0;
  padding: 4px;
  border: 1px solid #919B9C;
  font-family: Verdana, Arial;
  font-size: 10px;
}

legend {
  color: #2B6FB6;
  font-weight: bold;
}

label.msg {
  display: none;
}

label.invalid {
  color: #EE0000;
  display: inline;
}

input.invalid {
  border: 1px solid #EE0000;
}

input {
  background: #FFF;
  border: 1px solid #CCC;
}

input, select, textarea {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
}

input, select, textarea {
  border: 1px solid #808080;
}

/* Buttons */
#insert, #cancel, input.button, .updateButton {
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: bold;
  width: 94px;
  height: 26px;
  background: url(img/buttons.png) 0 -26px;
  cursor: pointer;
  padding-bottom: 2px;
  float: left;
}

#insert, #cancel {
  -webkit-box-shadow: none;
  background-color: rgb(23, 125, 227);
  background-image: linear-gradient(rgb(23, 126, 229), rgb(23, 123, 224));
  background-repeat: repeat-x;
  border: 1px solid rgba(0, 0, 0, 0.0980392);
  border-radius: 3px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  box-shadow: none;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  padding: 4px 6px 4px 6px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
  vertical-align: middle;
  white-space: nowrap;
}

#cancel {
  float: right;
}

/* Source */
.wordWrapCode {
  vertical-align: middle;
  border: 1px none #000000;
  background: transparent;
}

.mceActionPanel {
  margin-top: 5px;
}

/* Tabs classes */
.tabs {
  width: 100%;
  height: 18px;
  line-height: normal;
  background: url(img/tabs.gif) repeat-x 0 -72px;
}

.tabs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabs li {
  float: left;
  background: url(img/tabs.gif) no-repeat 0 0;
  margin: 0 2px 0 0;
  padding: 0 0 0 10px;
  line-height: 17px;
  height: 18px;
  display: block;
}

.tabs li.current {
  background: url(img/tabs.gif) no-repeat 0 -18px;
  margin-right: 2px;
}

.tabs span {
  float: left;
  display: block;
  background: url(img/tabs.gif) no-repeat right -36px;
  padding: 0px 10px 0 0;
}

.tabs .current span {
  background: url(img/tabs.gif) no-repeat right -54px;
}

.tabs a {
  text-decoration: none;
  font-family: Verdana, Arial;
  font-size: 10px;
}

.tabs a:link, .tabs a:visited, .tabs a:hover {
  color: black;
}

/* Panels */
.panel_wrapper div.panel {
  display: none;
}

.panel_wrapper div.current {
  display: block;
  width: 100%;
  height: 300px;
  overflow: visible;
}

.panel_wrapper {
  border: 1px solid #919B9C;
  border-top: 0px;
  padding: 10px;
  padding-top: 5px;
  clear: both;
  background: white;
}

/* Titles */
h1, h2, h3, h4 {
  color: #2B6FB6;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

h3 {
  font-size: 14px;
}

.title {
  font-size: 12px;
  font-weight: bold;
  color: #2B6FB6;
}

/* Dialog specific */
#colorpicker #preview {
  display: inline-block;
  padding-left: 40px;
  height: 14px;
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
}

#colorpicker #previewblock {
  position: relative;
  top: -3px;
  padding-left: 5px;
  padding-top: 0px;
  display: inline;
}

#colorpicker #preview_wrapper {
  text-align: center;
  padding-top: 4px;
  white-space: nowrap;
}

#colorpicker #colors {
  float: left;
  border: 1px solid gray;
  cursor: crosshair;
}

#colorpicker #light {
  border: 1px solid gray;
  margin-left: 5px;
  float: left;
  width: 15px;
  height: 150px;
  cursor: crosshair;
}

#colorpicker #light div {
  overflow: hidden;
}

#colorpicker .panel_wrapper div.current {
  height: 171px;
}

#colorpicker #namedcolors {
  width: 150px;
}

#colorpicker #namedcolors a {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin: 1px 1px 0 0;
  overflow: hidden;
}

#colorpicker #colornamecontainer {
  margin-top: 5px;
}

#colorpicker #picker_panel fieldset {
  margin: auto;
  width: 325px;
}

#htmlSource {
  height: calc(100% - 52px) !important;
}

.title label {
  display: none;
}
