{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}

<div class="accordion-heading">
    <a id='forecastsConfigScenariosTitle' class="accordion-toggle" data-help-id="forecastsConfigScenarios" data-toggle="collapse" data-parent="#forecast-config-accordion" href="#forecastsConfigScenariosCollapse"></a>
</div>
<div id="forecastsConfigScenariosCollapse" class="accordion-body collapse">
    <div class="accordion-inner">
        <p>{{str "LBL_FORECASTS_CONFIG_WORKSHEET_SCENARIOS" "Forecasts"}}</p>
        <p><em>{{str "LBL_FORECASTS_CONFIG_WORKSHEET_LIKELY_INFO" "Forecasts"}}</em></p>
        <form class="form-search-related" action="">
            <div class="control-group">
                <div class="filter controls controls=two btn-group-fit">
                    <div class="filter-view search">
                        <input id="scenariosLocked" class="select2" type="hidden">
                        <input id="scenariosSelect" class="select2" type="hidden">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
