{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}
<div id="tutorial" style="display:none">
    <div id="mask" class="mask"></div>
    <div id="tutorial-content"></div>
    <div id="tutorial-controls">
        <div class="btn-group">
            <a title="Back" href="#" class="btn btn-inverse back-btn disabled" track="click:tutorial_back"><i class=" icon-chevron-left"></i></a>
            <a title="Done" href="#" class="btn btn-inverse done-btn" track="click:tutorial_done"><span>{{str "LBL_DONE_BUTTON_LABEL"}}</span></a>
            <a title="Next" href="#" class="btn btn-inverse next-btn" track="click:tutorial_forward"><i class=" icon-chevron-right"></i></a>
        </div>
    </div>
</div>