{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2013 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/

}}

<div class="page-header">
    <h1>Documentation <small>A guide to developing in Sugar7.</small></h1>
</div>

<section>
    <ul class="sg-main listed">
        <li><i class="icon-book icon-3x"></i><a href="#Styleguide/docs/index">Core Elements</a></li>
        <li><i class="icon-columns icon-3x"></i><a href="#Styleguide/layout/records">Default Module Layout</a></li>
        <li><i class="icon-reorder icon-3x"></i><a href="#Styleguide/layout/list">Default List View</a></li>
        {{! <li><i class="icon-list-alt icon-3x"></i><a href="#Styleguide/layout/record">Default Record Detail View</a></li> }}
        {{! <li><i class="icon-list-alt icon-3x"></i><a href="#Styleguide/layout/record-card2">Default Record Detail View (labels on left)</a></li> }}
        <li><i class="icon-plus icon-3x"></i><a href="#Styleguide/create">Default Record Create View</a></li>
        <li><i class="icon-list-alt icon-3x"></i><a href="#Styleguide/field/all">Example Sugar7 Fields</a></li>
        {{! <li><i class="icon-heart icon-3x"></i><a href="styleguide/tests/global.html">Styleguide Tests</a></li> }}
        <li><i class="icon-edit icon-3x"></i><a href="#Styleguide/docs/base_edit">Updating Documentation</a></li>
    </ul>
</section>
