<style>

    div.my-view
    {
        padding-top: 5%;
    }

    div.my-view .sugar-cube
    {
        fill:#bbbbbb;
        height:200px;

        width:200px;
        display: inline;
    }

</style>

<h1>My View</h1>

{{{subFieldTemplate 'sugar-cube' 'detail' cubeOptions}}}

<p>Click to spin the cube!</p>